body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #444;
}

.pSmallMargins {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}

#promptBox {
    width: 80%;
    max-width: 600px;
    height: 80px;
    font-size: 16px;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: vertical;
    overflow: auto;
}

#warningMsg {
    color: red;
    text-align: center;
    display: none;
}

#footer {
    display: flex;
    justify-content: center;
}

.button {
    display: block;
    width: 140px;
    height: 35px;
    padding: 5px;
    margin: 5px auto;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #0056b3;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height: 50px;
}

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.imageItem {
    width: 512px;
    margin: 10px;
    position: relative;
    padding-bottom: 50px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

p {
    word-wrap: break-word;
    padding: 10px;
    height: auto;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    box-sizing: border-box;
}

.input-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
    margin-right: 3px;
}

select {
    max-width: 300px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="number"] {
    max-width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
    display: inline-block;
    margin-bottom: 10px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
